[submodule "papers/paper3"]
	path = papers/paper3
	url = https://github.com/simplymathematics/ml_afr.git
[submodule "papers/paper4"]
	path = papers/paper4
	url = https://github.com/simplymathematics/kepler-ml.git
[submodule "papers/paper5"]
	path = papers/paper5
	url = https://github.com/simplymathematics/Gzip-KNN.git
[submodule "papers/paper6"]
	path = papers/paper6
	url = https://github.com/simplymathematics/deckard_paper.git
[submodule "papers/paper1"]
	path = papers/paper1
	url = https://github.com/simplymathematics/springer-ai-review.git
[submodule "papers/paper2"]
	path = papers/paper2
	url = https://github.com/simplymathematics/KDD-Paper-EAI-AISEC.git
